./data
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.log
data
# Virtual environments
venv/

# Environment variables
.env
.env.*

# OS files
.DS_Store

# dbt artifacts
dbt/target/
dbt/dbt_modules/
data
# Jupyter Notebooks
.ipynb_checkpoints/
./data